{{define "about"}} {{template "_header"}}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Page About</h1>
            <p class="lead text-muted">
                Nama: {{.name}} <br> Tempat/Tgl Lahir: Ujung Pandang, 13 Maret 1982 <br> Alamat: Komp. Amala Vilasa JL. Masjid Al-Mubarokah Sawah Lama, Ciputat, Tangsel<br> HP: 08114556677<br> Pekerjaan: Pengadaan.id <br>Jabatan: Backend Developer
            </p>
        </div>
    </section>
</main>
{{template "_footer"}} {{end}}